.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.6666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666667%;
}

.col-12 {
    width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
}

.header {
    text-align: center;
    padding: 50px 0;
}

.navigation {
    background: purple;
    padding: 20px 0;
    text-align: center;
}

.navigation a {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    overflow: auto;  
    margin-bottom: 40px;
    margin-top: 40px;
}

body {
    margin-left: 0;
    margin-right: 0;
}

.footer {
    background: black;
    color: white;
    padding: 80px 0;
    text-align:center;
}